/* ----- RESET ------- */

html, body, section, article, h1, h2, p, a, button {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    background: transparent;
  }

  /* ----- DEFAULTS ------ */

  :root {
    --main-font-family: 'Nunito';
    --primary-color: rgb(14, 43, 94);
    --primary-color-hover: rgb(26, 70, 132);
    --transparent-bg-color: rgba(14, 43, 94, 0.8);
    --main-font-color: white;
    --secondary-bg-color: white;
    --secondary-font-color: rgb(14, 60, 94);
    --button-font-size: clamp(1.2rem, 1.1407rem + 0.2963vw, 1.4rem);
    --title-font-size: clamp(3rem, 2.8519rem + 0.7407vw, 3.5rem);
    --question-font-size: clamp(1.8rem, 1.7407rem + 0.2963vw, 2rem);
    --country-font-size: clamp(1.2rem, 1.1407rem + 0.2963vw, 1.4rem);
    --utilities-font-size: clamp(1.2rem, 1.1407rem + 0.2963vw, 1.4rem);
    /* --light-grey: rgb(240, 240, 240);
    --ocean: rgb(86, 179, 220); */
    --orange: #FF9671;
    --violet: #845EC2;
    --peach: #F7C8A8;
    --fuchsia: #FF6F91;
    --pink: #f475b4;
    --magenta: #D65DB1;
    --yellow: #FFC75F;
  }
  
  html {
    font-family: var(--main-font-family);
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    height: 100vh;
    margin: 0;
  }
  
  .header {
    position: absolute;
    left: 0;
    top: 2vh;
    z-index: 1;
    /* text-align: center; */
    margin: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: 5.5rem 1fr 5.5rem;
    gap: 0;
  }
  
  @keyframes appear {
    from {
      opacity: 0;   
    }
    to {
      opacity: 1;   
    }
  }

  .utilities {
    
  }

  .sound {
    /* width: 3rem;
    height: 3rem;
    color: var(--main-font-color) */
    order: 3;
  }
  
   
  .mainTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: var(--main-font-color);
    text-shadow: 0 0 15px var(--primary-color);
    font-family: var(--main-font-family);
    font-size: var(--title-font-size);
    order: 2;
    opacity: 1;
  }

  .mainTitleReAppear {
    opacity: 0;
    animation: appear .2s ease-in forwards
  }
  
  .playBtnCanvas {
    position: absolute;
    bottom: 4vh;
    width: 100vw;
    z-index: 1;
    text-align: center;
    margin: auto;
  }
  
  .playBtn, .continentBtn {
    display: inline;
    position: relative;
    background-color: var(--transparent-bg-color);
    font-size: var(--button-font-size);
    font-weight: 700;
    letter-spacing: .2rem;
    color: var(--main-font-color);
    border: 4px solid var(--orange);
    cursor: pointer;
    padding: .7rem 3rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 15px var(--primary-color);
    opacity: 1;
    /* animation: appear .2s ease-in forwards */
  }
  
  .playBtn:hover, .continentBtn:hover {
    background-color: var(--primary-color-hover);
  }
  