/* ----- RESET ------- */

html, body, section, article, h1, h2, p, a, button {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    background: transparent;
  }
  
  html {
    font-family: Righteous;
  }
  
  body {
    display: flex;
    justify-content: center;
    background-color: #0e2b5e;
    height: 100vh;
    margin: 0;
  }
  
  .header {
    position: absolute;
    left: 0;
    top: 35vh;
    z-index: 1;
    text-align: center;
    margin: auto;
    width: 100vw;
    font-size: clamp(5rem, 3.5185rem + 7.4074vw, 10rem);
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 15px #0e3c5e;;
    letter-spacing: .4rem;
  }
  
  /* .animate-appear {
    animation: appear 1s ease-in;
  } */
  
  /* @keyframes appear {
    from {
      opacity: 0;   
    }
    to {
      opacity: 1;   
    }
  } */
   
  .mainTitle {
    margin: 0;
  }
  
  .playBtnCanvas {
    position: absolute;
    bottom: 4vh;
    width: 100vw;
    z-index: 1;
    text-align: center;
    margin: auto;
  }
  
  .btnPlay, .continentBtn {
    display: inline;
    position: relative;
    bottom: 29vh;
    background-color: rgba(26, 70, 132, 0.8);
    font-family: Nunito Sans;
    font-size: clamp(1.3rem, 1.1519rem + 0.7407vw, 1.8rem);
    font-weight: 700;
    letter-spacing: .2rem;
    color: white;
    border: 4px solid #FF9671;
    cursor: pointer;
    padding: .7rem 3rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 15px #0e3c5e;
    transition: opacity 1s ease-in 1.5s;
  }

  .continentBtn {
    bottom: 0;
  }
  
  .btnPlay:hover, .continentBtn:hover {
    background-color: rgb(26, 70, 132);
  }
  
  @media screen and (min-height: 900px) {
    
    .btnPlay, .continentBtn{
      font-size: 1.7rem;
    }
  }