/* ------------ Main landing page -------------  */

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: default;
}

.animate-appear-map {
  animation: appear .2s ease-in forwards;
}

.choose {
  transform: scale(0.8);
}
/* @keyframes appear {
  from {
    opacity: 0;   
  }
  to {
    opacity: 1;   
  }
} */

/* if screen is higher than 750px then place globe in the middle of screen */
/* @media screen and (min-height: 750px) {
  .map {
    height: auto;
  }
} */

/* ----------- Continent buttons ----------- */

.continentCanvas {
  position: absolute;
  bottom: 0;
  width: 100vw;
  max-width: 900px;
  margin: auto;
  margin-bottom: 4vh;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 0;

}

.continentBtn {
  text-align: center;
  width: clamp(8rem, 6.8148rem + 5.9259vw, 12rem);
  padding: 0.7rem 0;
  margin: auto;
  letter-spacing: 0;
  animation: appear .8s ease-in forwards
}

#europeBtn {
  order: 1;
  border-color: var(--violet);
}

#asiaBtn {
  order: 2;
  border-color: var(--fuchsia);
}

#americasBtn {
  order: 3
}

#africaBtn {
  order: 4;
  border-color: var(--yellow);
}

/* ------------- Game -------------- */

.exitBtn {
  position: relative;
  /* background-color: var(--transparent-bg-color); */
  font-size: var(--utilities-font-size);
  text-shadow: 0 0 2px var(--primary-color);
  font-weight: 400;
  color: var(--main-font-color);
  /* border: 1.5px solid var(--ocean);
  box-shadow: 4px 4px 15px var(--primary-color); */
  text-align: center;
  margin: 1rem 0 0 1rem;
  cursor: pointer;
}

.exitBtn:hover {
  /* color: var(--main-font-color); */
  border-bottom: 2px solid var(--main-font-color);
}

.question {
  display: inline-block;
  margin: 1rem 0;
  font-weight: bold;
  font-size: var(--question-font-size);
  letter-spacing: 0;
  opacity: 0;
  animation: appear 1s ease-in forwards
}

.country {
  display: inline;
  position: relative;
  background-color: var(--secondary-bg-color);
  font-size: var(--country-font-size);
  font-weight: 700;
  color: var(--secondary-font-color);
  box-shadow: 4px 4px 15px var(--primary-color);
  text-shadow: none;
  padding: .2rem 1.8rem;
  margin: auto;
  border-radius: 1.5rem;
  opacity: 0;
  animation: appear .2s ease-in forwards
}

.countryEurope {
  border: 3px solid var(--violet)
}

.countryAfrica {
  border: 3px solid var(--yellow)
}

.countryAsia {
  border: 3px solid var(--fuchsia)
}

.countryAmericas {
  border: 3px solid var(--orange);
}