/* ----- RESET ------- */

html, body, section, article, h1, h2, p, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

html {
  font-family: Nunito;
}

body {
  background-color:  #1a4684;
  height: 100vh;
  margin: 0;
}

.header {
  position: absolute;
  left: 0;
  top: 35vh;
  z-index: 1;
  text-align: center;
  margin: auto;
  width: 100vw;
  font-size: clamp(3rem, 5rem, 7rem);
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 10px #0e3c5e;;
  letter-spacing: .15rem;
  animation: move-up 1.5s ease-in;
  animation-fill-mode: forwards;
  
}

@keyframes move-up {
  0% {
    opacity: 0;   
  }
  
  100% {
    opacity: 1;
    transform: translateY(-35vh) scale(0.6, 0.6) ;

  }
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 180%;
  opacity: 0;
  transition: opacity .5s ease-in 1.5s;
}

.mainTitle {
  margin: 0;
}

.mainCanvas {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btnPlay, .continentBtn {
  background-color: rgba(26, 70, 132, 0.6);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: .15rem;
  color: white;
  border: 4px solid #D65DB1;
  display: block;
  cursor: pointer;
  padding: .7rem 3rem;
  margin: 4rem 0;
  border-radius: 2rem;
  box-shadow: 4px 4px 10px #0e3c5e;
  opacity: 0;
  transition: opacity 1s ease-in 1.5s;
}

.continentBtn {
  opacity: 1;
}

.btnPlay:hover, .continentBtn:hover {
  opacity: 1;
}

.makeVisible {
  opacity: 1;
}

@media screen and (min-height: 750px) {
  .map {
    height: auto;
  }
}

@media screen and (min-height: 900px) {
  
  .btnPlay {
    font-size: 1.4rem;
    margin: 6rem;
  }
}